<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Sample8</title>
	<style>
	    table, th, td {
	        border : 1px solid black;
	        border-collapse: collapse;
	    }
	    table {width: 100%;}
	</style>
</head>
<body>
			        <!-- ViewResoler에 의해 templates/fragments/header.html을 찾고 -->
			                        <!-- th:fragment="header"를 찾아옴 -->
	<div th:insert="~{fragments/header::header}"></div>
<!--
 th:insert  => 자식으로 fragment 삽입
 th:replace => 해당 element 를 fragment 로 치환
 -->
	<ul>
		<li th:insert="~{aaa/bbb/side::left}"></li>
		<li th:insert="~{aaa/bbb/side::right}"></li>
	</ul>
    <ul>
        <li th:replace="~{aaa/bbb/side::left}"></li>
        <li th:replace="~{aaa/bbb/side::right}"></li>
    </ul>

	<h1>/sample8</h1>

	<div>Context Path: <b th:utext="'#requests.getContextPath() 는 사용불가'"></b></div>

	<ol>
		<h3>Absolute URLs @{http:// ... }</h3>
		<li><a href="http://localhost:8081/thymeleaf/sample1">sample1</a></li>
		<li><a th:href="@{http://localhost:8081/thymeleaf/sample1}">sample1</a></li>
		<li><a th:href="@{'http://localhost:8081' + '/thymeleaf' + '/sample1'}">sample1</a></li>

		<br>
		<h3>Context-relative URLs @{/ ... }</h3>
		<li><a th:href="@{/sample1}">sample1</a></li>
		<li><a th:href="@{/sample2}">sample2</a></li>

		<br>
		<h3>Server-relative URLs @{~ ... }</h3>
		<li><a th:href="@{~/sample1}">sample1</a></li>
		<li><a th:href="@{~/thymeleaf/sample1}">sample1</a></li>

		<br>
		<h3>Parameter</h3>
		<li><a th:href="@{/sample1?p1=aaa&p2=bbb}">sample1?p1=aaa&p2=bbb</a></li>
		<li><a th:href="@{/sample1(p1='aaa', p2='bbb')}">sample1?p1=aaa&p2=bbb</a></li>
	</ol>
<hr>
	<br>
	<h3>th:<i>attr</i></h3>
	<input type="text" value="${value1}"><br>   <!-- th:attribute 를 명시해야 thymeleaf 가 처리한다 -->
	<input type="text" th:value="${value1}"><br>
	<input type="text" th:attr="value=${value1}, title=${value1}"><br>  <!-- 여러 attribute 를 세팅하는 경우 -->
	<button onclick="location.href='sample1'">sample1</button><br>
	<button th:onclick="'location.href=\''  +  @{/sample1}  +  '\''  ">sample1</button><br>
	<button th:onclick="'location.href=\''  +  @{${url1}}  +  '\''  ">sample1</button><br>
	<button onclick="">sample1</button><br>

	<hr>
	<h3>th:block</h3>
	<div th:with="name='John'">
		<div>
			name: [[${name}]]
			<ol>
				<li th:text="${name}"></li>
				<li th:text="${name}"></li>
				<li th:text="${name}"></li>
			</ol>
		</div>
	</div>

	<div>name: [[${name}]]</div>

	<hr>
	<!-- th:block 에서 선언한 변수는. 그 하위에서 사용 가능. th:block 은 response 되지 않는다 -->
	<th:block th:with="name='John'" th:if="10 > 2">
		<div>
			<div>
				name: [[${name}]]
				<ol>
					<li th:text="${name}"></li>
					<li th:text="${name}"></li>
					<li th:text="${name}"></li>
				</ol>
			</div>
		</div>

		<div>name: [[${name}]]</div>
	</th:block>

	<div th:insert="~{fragments/footer::footer}"></div>

	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>